{% extends 'whiteecom/base.html' %}
{% block content %}

<main class="px-4 md:px-10 lg:px-20 xl:px-40 py-5">

<div class="flex flex-wrap justify-between gap-3 p-4">
<p class="text-gray-900 dark:text-white text-4xl font-black leading-tight tracking-[-0.033em] min-w-72">Details</p>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-8 p-4">
<div class="lg:col-span-2">
<div class="bg-white dark:bg-background-dark rounded-xl shadow-sm p-6">

<h2 class="text-gray-900 dark:text-white text-[22px] font-bold leading-tight tracking-[-0.015em] pb-3 pt-2">Details</h2>
<form  method="POST" action="{% url 'pickupform' %}" class="space-y-6">
      {% csrf_token %}
         <div class="flex items-center">


  </div>   

<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
 
 

 

<div>
<label class="block text-gray-800 dark:text-gray-300 text-sm font-medium pb-2" for="first-name">First Name</label>
<input required id="first_name" name="first_name" class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-gray-800 dark:text-white focus:outline-0 focus:ring-2 focus:ring-primary/50 border border-gray-300 dark:border-gray-700 bg-white dark:bg-gray-800 focus:border-primary h-12 placeholder:text-gray-400 px-4 text-base font-normal leading-normal"  placeholder="Enter your first name" value=""/>
</div>
<div>
<label class="block text-gray-800 dark:text-gray-300 text-sm font-medium pb-2" for="last-name">Last Name</label>
<input required id="last_name" name="last_name" class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-gray-800 dark:text-white focus:outline-0 focus:ring-2 focus:ring-primary/50 border border-gray-300 dark:border-gray-700 bg-white dark:bg-gray-800 focus:border-primary h-12 placeholder:text-gray-400 px-4 text-base font-normal leading-normal"  placeholder="Enter your last name" value=""/>
</div>
</div>
{% if request.user.is_authenticated %}
{% else %}
<div>
<label class="block text-gray-800 dark:text-gray-300 text-sm font-medium pb-2" for="address">Email</label>
<input type="email" id="email" name="email"  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-gray-800 dark:text-white focus:outline-0 focus:ring-2 focus:ring-primary/50 border border-gray-300 dark:border-gray-700 bg-white dark:bg-gray-800 focus:border-primary h-12 placeholder:text-gray-400 px-4 text-base font-normal leading-normal" placeholder="example@gmail.com" value=""/>
</div>
{% endif %}
<div>
<label class="block text-gray-800 dark:text-gray-300 text-sm font-medium pb-2" for="phone">Phone Number</label>
<input id="phone_number" name="phone_number" class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-gray-800 dark:text-white focus:outline-0 focus:ring-2 focus:ring-primary/50 border border-gray-300 dark:border-gray-700 bg-white dark:bg-gray-800 focus:border-primary h-12 placeholder:text-gray-400 px-4 text-base font-normal leading-normal"  placeholder="(555) 555-5555" type="tel" value=""/>
</div>
</div>
<div class="mt-8 flex justify-between items-center">
<a  class="text-primary font-medium text-sm hover:underline" href="{% url 'cart_view' %}}">
<span class="material-symbols-outlined align-middle text-base">arrow_back</span> Return to Cart
                            </a>
<button type="submit" class="flex min-w-[180px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-12 px-6 bg-primary text-white text-base font-bold leading-normal tracking-[0.015em] hover:bg-primary/90 transition-colors">
<span class="truncate">Continue to Payment</span>
</button>
</div>
</form>
</div>
</div>

</main>


   {% endblock %}